/* Color Palette ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

/*
    SEA BLUE : #05668d (5,102,142)
    METALLIC SEAWEED : #028090
    PERSIAN GREEN : #00a896
    CARIBBEAN GREEN : #02c39a
    PALE SPRING BUD : #f0f3bd
    #ffe169
    #fad643
    #edc531
    #dbb42c
    #c9a227
    #b69121
    #805b10
    #76520e
*/

/* Genral Tags ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

* {
    font-family: 'Roboto', 'Cairo';
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lalezar';
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 30px;
}

p {
    font-size: 12px;
    font-weight: bold;
}


/* Genral Classes ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

.section-heading {
  text-align: center;
  padding-top: 75px
}

.section-heading span {
  display: inline-block;
  padding-bottom: 15px;
  width: 25%;
  border-bottom: 2px solid #05668d;
  color: #05668d;
  position: absolute;
  left: 500px;
}

#courses > div.first {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 70px;
  right: 56px;
  padding: 15px 25px;
  width: 630px;
  border-radius: 8px;
  border: 2px solid Black;
}

#courses > div.first > p {
  font-size: 20px;
}

#courses > div.second {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 85px;
  right: 56px;
  padding: 6px 25px;
  width: 630px;
  border-radius: 8px;
  border: 2px solid Black;

}

#courses > div.second > p {
  font-size: 19px;
}

#courses > div.first-second {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 100px;
  right: 56px;
  padding: 6px 25px;
  width: 630px;
  border-radius: 8px;
  border: 2px solid Black;
}

#courses > div.first-second > p {
  font-size: 19px;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right, #00a896, #05668d);
  color: #f0f3bd;
  padding: 5px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to right, #028090, #02c39a);
}

.btn i {
  margin: 0px 5px;
}

.clear-both {
  clear:both;
}

.bg-gradient {
  background: #05668d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00a896, #05668d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #582f0e, #a68a64, #656d4a, #414833, #333d29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* nav ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */




nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  padding-left: 100px;
}

nav > ul > li {
  display: inline-block;
  color: #f0f3bd;
  transition: 0.7s;
}

nav > ul > li:hover {
  background-color: #d7a563;
  color: Black;
}

nav > ul > li > a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

nav li i {
  margin-left: 5px;
}

.dropdown-link {
  position: relative;
}

.dropdown-link:hover > .dropdown-menu {
  display: block;
}

div.dropdown-menu {
  position: absolute;
  background-color: #f0f3bd;
  color: Black;
  top: 70px;
  width: 200px;
  z-index : 1;
  box-shadow: 5px 5px 20px grey;
  display: none;
}

div.dropdown-menu > ul {
  list-style-type: none;
  display: block;
  padding: 0;
}

div.dropdown-menu > ul > li {
  border-bottom: 1px solid grey;
}

div.dropdown-menu > ul > li > a {
  display: block;
  padding: 10px 25px;
}

div.dropdown-menu > ul > li > a:hover {
  background-color: #05668d;
  color: #f0f3bd;
}

.brand {
  font-family: 'Lalezar';
  display: inline-block;
  color: #dbd769;
  padding: 12px;
  font-size: 30px;
  position: absolute;
  left: 30px;
}


/* header ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */


img.picture {
  float: left;
  height: 200px;
}
div.intro {
    display: inline-block;
    padding: 30px 70px;
    margin: 20px 24px 0px 0px;
    background-color: rgba(5,102,142,0.5);
    border-radius: 40px;
    position: relative;
    top: 70px;
    font-size: 15px;
    width: 1150px;
    height: 200px;
}

div.intro > p {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    width: 900px;
}



/* aside1 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */



.film {
  display: inline-block;
  position: relative;
  right: 325px;
  top: 100px;
  width: 700px;
  height: 400px;
}

div.tabii > hr {
  position: relative;
  top: -30px;
  border: 2px solid #18801c;
}

div.elmi > hr {
  border: 2px solid #18801c;
}

aside.first > div.tabii2 {
  float: right;
  clear: both;
  display: inline-block;
  font-family: Lalezar;
  border: 2px solid black;
  border-radius: 25px;
  width: 270px;
  height: 900px;
  position: relative;
  top: -300px;
  right: 20px;
}

aside.first > div.tabii2 > div.tabii {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  position: absolute;
  top: 12px;
  right: 14px;
  width: 240px;
  height: 50px;
  margin: 0px;
  background-color: rgb(213, 218, 219);
}

aside.first > div.tabii2 > div.tabii > p {
  display: inline-block;
  font-size: 35px;
  font-family: Jomhuria;
  position: relative;
  top: -25px;
}

aside.first > div.tabii2 > ul > a {
  transition: 0.7s;
}

aside.first > div.tabii2 > ul > a:hover {
  background-color: rgba(196, 255, 0, 0.78);
}

aside.first > div.tabii2 > ul > a.q {
  list-style-type: none;
  text-align: center;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 120px;
  left: 31px;
  color: black;
  font-size: 22px;
  border: 2px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}

aside.first > div.tabii2 > ul > a.w {
  font-family: Amiri;
  list-style-type: none;
  text-align: center;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 130px;
  left: 31px;
  color: black;
  font-size: 22px;
  border: 2px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.first > div.tabii2 > ul > a.e {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 140px;
  left: 31px;
  color: black;
  font-size: 21px;
  border: 2px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.first > div.tabii2 > ul > a.r {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 150px;
  left: 31px;
  color: black;
  font-size: 23px;
  border: 2px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.first > div.tabii2 > ul > a.t {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 160px;
  left: 31px;
  color: black;
  font-size: 23px;
  border: 2px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.first > div.tabii2 > ul > a.y {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 170px;
  left: 31px;
  color: black;
  font-size: 17.5px;
  border: 2px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}




/* aside2 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */




aside.second > div.elmi2 {
  clear: both;
  float: left;
  display: inline-block;
  border: 2px solid black;
  border-radius: 25px;
  width: 270px;
  height: 900px;
  position: relative;
  top: -1204px;
  left: 20px;
}

aside.second > div.elmi2 > div.elmi {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  position: absolute;
  top: 12px;
  right: 14px;
  width: 240px;
  height: 48px;
  margin: 0px;
  background-color: rgb(213, 218, 219);
}

aside.second > div.elmi2 > div.elmi > p {
  display: inline-block;
  font-size: 32px;
  font-family: Jomhuria;
  position: relative;
  top: -25px;
}

aside.second > div.elmi2 > ul > a {
  transition: 0.7s;
}

aside.second > div.elmi2 > ul > a:hover {
  background-color: rgba(196, 255, 0, 0.78);
}

aside.second > div.elmi2 > ul > a.q {
  list-style-type: none;
  text-align: center;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 140px;
  left: 31px;
  color: black;
  font-size: 17px;
  border: 1px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.second > div.elmi2 > ul > a.w {
  list-style-type: none;
  text-align: center;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 150px;
  left: 31px;
  color: black;
  font-size: 22px;
  border: 1px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.second > div.elmi2 > ul > a.e {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 160px;
  left: 31px;
  color: black;
  font-size: 19px;
  border: 1px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.second > div.elmi2 > ul > a.r {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 170px;
  left: 31px;
  color: black;
  font-size: 18px;
  border: 1px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}
aside.second > div.elmi2 > ul > a.t {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 180px;
  left: 31px;
  color: black;
  font-size: 20px;
  border: 1px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}

aside.second > div.elmi2 > ul > a.u {
  list-style-type: none;
  text-align: center;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 190px;
  left: 31px;
  color: black;
  font-size: 22px;
  border: 1px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}

aside.second > div.elmi2 > ul > a.i {
  list-style-type: none;
  text-align: center;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 200px;
  left: 31px;
  color: black;
  font-size: 22px;
  border: 1px solid #2ca41e;
  border-radius: 7px;
  padding: 18px 10px;
  width: 230px;
}








/* footer ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */





footer.first {
  display: inline;
  padding: 200px;
  position: absolute;
  top: 2000px;
  /* bottom: 1000px; */
  background: #05668d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00a896, #05668d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #582f0e, #a68a64, #656d4a, #414833, #333d29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
