

 /* Genral ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

body {
  font-family: 'Lalezar', 'Roboto';
  direction: rtl;
  margin: 0px;
}

div.first > img.11 {
  position: relative;
  left: 30px;
}

div.first > audio.first1 {
  position: absolute;
  right: 77%;
  top: 1%;
}
div.first > audio.first2 {
  position: absolute;
  right: 77%;
  top: 10%;
}
div.first > audio.first3 {
  position: absolute;
  right: 77%;
  top: 20%;
}
div.first > audio.first4 {
  position: absolute;
  right: 77%;
  top: 30%;
}
div.first > audio.first5 {
  position: absolute;
  right: 77%;
  top: 40%;
}
div.first > audio.first6 {
  position: absolute;
  right: 77%;
  top: 50%;
}
div.first > audio.first7 {
  position: absolute;
  right: 77%;
  top: 60%;
}
div.first > audio.first8 {
  position: absolute;
  right: 77%;
  top: 70%;
}
div.first > audio.first9 {
  position: absolute;
  right: 77%;
  top: 80%;
}
div.first > audio.first10 {
  position: absolute;
  right: 77%;
  top: 90%;
}

div.second > audio.second {
  float: left;
  position: relative;
  right: 300px;
}

div.second > audio.second11 {
  position: absolute;
  right: 75%;
  top: 110%;
}
div.second > audio.second12 {
  position: absolute;
  right: 75%;
  top: 120%;
}
div.second > audio.second13 {
  position: absolute;
  right: 75%;
  top: 130%;
}
div.second > audio.second14 {
  position: absolute;
  right: 75%;
  top: 140%;
}
div.second > audio.second15 {
  position: absolute;
  right: 75%;
  top: 150%;
}
div.second > audio.second16 {
  position: absolute;
  right: 75%;
  top: 160%;
}
div.second > audio.second17 {
  position: absolute;
  right: 75%;
  top: 170%;
}
div.second > audio.second18 {
  position: absolute;
  right: 75%;
  top: 180%;
}
div.second > audio.second19 {
  position: absolute;
  right: 75%;
  top: 190%;
}

div.second > img.12 {
  display: inline-block;
  float: right;
}

hr {
  border: 3px solid black;
}
